.cart-position {
  min-width: 400px;
  display: grid;
  grid-template-columns: 64px 1fr auto;
  column-gap: 12px;
  border-bottom: 1px solid #DEE2E6;
  padding-bottom: 16px;

  @media screen and (max-width: 500px) {
    min-width: 260px;
  }
}

.cart-position__title,
.cart-position__price{
  font-size: 18px;
  font-weight: 600;

  @media screen and (max-width: 500px) {
    font-size: 16px;
  }
}

.cart-position__weight {
  font-size: 14px;
  font-weight: 600;
  color: #868E96;
}