.header {
  display: flex;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px 8px 32px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;

  @media screen and (max-width: 430px) {
    font-size: 16px;
  }
}

.title-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.cart-button {
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;

  @media screen and (max-width: 430px) {
    padding-inline: 20px;
  }
}

.cart-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  color: black;
  border-radius: 50%;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 4px;
  min-width: 20px;
  height: 20px;
}