.empty-cart-text {
  color: #868E96;
}

.cart-positions-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: none;

  @media screen and (max-width: 940px)  and (orientation: landscape) {
    max-height: 120px;
  }
}

.total-price {
  font-weight: 600;
}